{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text">You have {{ total_users }} registered users.</p>
                    <a href="{% url 'manage_users' %}" class="btn btn-light">View Users</a>
                </div>
            </div>
        </div>
    </div>

   
</div>
{% endblock %}
